#add-new-champaign tr > td:nth-child(2) {
  width: 35%;
}

#add-new-champaign tr > td.single-champaign-action {
	width: 10%;
}

#add-new-champaign tr > td.last-champaign-action {
	width: 20%;
}
   
.sweet-loading {
	margin-top: 5%;
	text-align: center;
	width: 100%
}

.bottom-border.pagination {
    width: 40%;
    margin: 0 auto;
}
.pagination ul{
	font-weight: 800;
}