#add-new-champaign tr > td:nth-child(2) {
  width: 35%;
}

#add-new-champaign tr > td.single-champaign-action {
	width: 10%;
}

#add-new-champaign tr > td.last-champaign-action {
	width: 20%;
}
   
.sweet-loading {
	margin-top: 5%;
	text-align: center;
	width: 100%
}

.square-fill.pagination {
    float: right;
    margin: 0 auto;
}
.pagination ul{
	font-weight: 800;
}
.square-i a {
    border: 3px solid #dee2e6 !important;
    margin: auto 5px;
    color: #2ecc71;
    font-weight: 700;
}
.square-i .is-active {
    background-color: #343a40 !important;
    color: #fff;
}
.square-i a:last-of-type {
    color: #000;
    font-weight: 700;
}
.pagination-content-bar {
	float: right;
}